Primeiros_passos_no_N8N.json
{"updatedAt":"2026-07-10T00:54:45.908Z","createdAt":"2026-07-07T23:52:02.904Z","id":"B55M4oBiuoVfMlwP","name":"Primeiros passos no N8N","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"nova_transacao","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-80,0],"id":"de6d8c73-2e03-4bc6-a82e-41ec2c876f19","name":"Webhook","webhookId":"cfc7144d-aba2-4b8e-8958-c7ac8fbf34d5"},{"parameters":{"content":"Financeiro","height":288,"color":5},"type":"n8n-nodes-base.stickyNote","position":[144,-96],"typeVersion":1,"id":"2c8e07cd-de4a-4626-ac09-7154c7bc233f","name":"Sticky Note"},{"parameters":{"url":"=https://economia.awesomeapi.com.br/json/last/{{ $json.body['par-moeda'] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[208,0],"id":"aff0d04c-e534-41b5-87d5-1fb22cb0078b","name":"Consultar cotação do par-moeda"},{"parameters":{"assignments":{"assignments":[{"id":"7c12c4dd-7fd5-4251-a994-423295f0f10f","name":"=valor_convertido","value":"={{ $json.USDBRL.bid.toNumber().round(2) }}","type":"number"}]},"includeOtherFields":"=\"valor_convertido\"","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,0],"id":"fc231c4b-4a1c-4ae3-9096-a062301eaa46","name":"Conversor Dolar x Real"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c66dfa75-62e4-4997-bf60-7267c72b9a47","leftValue":"={{ $json.valor_convertido }}","rightValue":5.25,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Não comprar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"365e976c-4b74-435c-ac66-1f8bf693ec0a","leftValue":"={{ $json.valor_convertido }}","rightValue":5.25,"operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Comprar Dolar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[688,0],"id":"4cb53667-6f38-416b-9694-35651fb8b63d","name":"Cotação do Dolar"},{"parameters":{"content":"Saúde","height":336,"width":208,"color":6},"type":"n8n-nodes-base.stickyNote","position":[640,-128],"typeVersion":1,"id":"5c759c30-93cb-470c-934d-640372987114","name":"Sticky Note1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1PUhjQygA6mBzMq0OjokIzoJgceQM8eIK-5rSL2ilPe0","mode":"list","cachedResultName":"Cotacao Dolar","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PUhjQygA6mBzMq0OjokIzoJgceQM8eIK-5rSL2ilPe0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Compra","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1PUhjQygA6mBzMq0OjokIzoJgceQM8eIK-5rSL2ilPe0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Data":"={{ $now.format('dd/MM/yyyy HH:mm') }}","Cotação":"={{ $json.valor_convertido }}"},"matchingColumns":[],"schema":[{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cotação","displayName":"Cotação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1040,-160],"id":"c278dd03-8c96-402e-918b-5bb90936bc81","name":"Salva cotação na planilha","credentials":{"googleSheetsOAuth2Api":{"id":"Gu9T3Uy6x8XIRHCh","name":"Google Sheets account"}}},{"parameters":{"fromEmail":"Autotic: Contato@autotic.com.br","toEmail":"nilsonsantos.das@gmail.com","subject":"Cotaçao Dolar","html":"=O valor do dolar esta a abaixo de 5,00.\n\n<br><br>Cotaçao atual: <strong> {{ $json.valor_convertido }} </strong>\n\n compre bastante!!","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1040,112],"id":"4febb8e5-3c31-4578-9e11-2f44543941d3","name":"Envia email de cotação","webhookId":"2c9f40f3-2986-464c-add7-088da9418888","credentials":{"smtp":{"id":"5ffC7rxIK7jV5MYV","name":"SMTP account"}}},{"parameters":{"content":"Tecnologia)","height":224,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-144,-64],"typeVersion":1,"id":"741284de-e9bd-41dd-8e2f-918df93c4b5b","name":"Sticky Note2"}],"connections":{"Webhook":{"main":[[{"node":"Consultar cotação do par-moeda","type":"main","index":0}]]},"Consultar cotação do par-moeda":{"main":[[{"node":"Conversor Dolar x Real","type":"main","index":0}]]},"Conversor Dolar x Real":{"main":[[{"node":"Cotação do Dolar","type":"main","index":0}]]},"Cotação do Dolar":{"main":[[{"node":"Salva cotação na planilha","type":"main","index":0}],[{"node":"Envia email de cotação","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2bc2315f-5ef1-46ef-8799-48ee62390943","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-07-07T23:52:02.912Z","createdAt":"2026-07-07T23:52:02.912Z","role":"workflow:owner","workflowId":"B55M4oBiuoVfMlwP","projectId":"2dWvxVwxkhgkAyNT"}],"activeVersion":null,"tags":[]}