Seleção_para_Rh.json
{"updatedAt":"2026-07-09T23:46:23.072Z","createdAt":"2026-07-09T22:22:59.977Z","id":"1kalKDnnBjXZnsaz","name":"Seleção para Rh","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":12,"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"d225417a-2085-4e4b-b2b8-c1544e96a72d","name":"Dispara no dia 12/07/2026 as 9:00"},{"parameters":{"documentId":{"__rl":true,"value":"1VwfSEads8n8osysXb7I4pfOzKHtXKfU2R4ckZpzZ7Dc","mode":"list","cachedResultName":"Processo Seletivo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VwfSEads8n8osysXb7I4pfOzKHtXKfU2R4ckZpzZ7Dc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Candidatos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VwfSEads8n8osysXb7I4pfOzKHtXKfU2R4ckZpzZ7Dc/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[208,0],"id":"12310c53-e557-459f-a345-d658cc43d325","name":"Obtém candidatos","credentials":{"googleSheetsOAuth2Api":{"id":"Gu9T3Uy6x8XIRHCh","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b3253fe8-2576-44c2-bcbe-a09389e8932b","leftValue":"={{ $json['Anos Experiencia'] }}","rightValue":5,"operator":{"type":"number","operation":"gt"}},{"id":"dd2f4db0-72e4-41ee-9f96-b393e4cb0715","leftValue":"={{ $json['Grau Escolaridade'] }}","rightValue":"Superior","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[416,0],"id":"f9a40133-e88e-4679-ab7a-7982940edc36","name":"Candidato Aprovado"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[720,-112],"id":"cc038efe-3e2b-4fe6-bb4d-99a9b203090b","name":"Loop Over Items"},{"parameters":{"fromEmail":"Autotic <autotic.com.br>","toEmail":"={{ $json.Email }}","subject":"Voce Foi Aprovado!","html":"=Olá {{ $json.Nome.split(' ')[0] }}, Você foi aprovado!\n\nPassando aqui para informar que você foi aprovado para a proxima fasse do processo seletivo.\n\nParabéns!!!","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[944,-96],"id":"ecf47697-21f5-4a60-9c19-c4e6590597c0","name":"Send an Email","webhookId":"cf2b2bbf-ac47-40fd-89a5-329efb1075be","credentials":{"smtp":{"id":"5ffC7rxIK7jV5MYV","name":"SMTP account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1152,-96],"id":"833bc736-775a-46e0-b167-1b035566c05a","name":"Wait","webhookId":"dc1c822f-082b-49a2-b93a-d1600ab80051"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"Nome"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[608,160],"id":"ea9ab84e-1c9b-423c-bb72-8650ff098990","name":"Gera arrey de nomes"},{"parameters":{"fromEmail":"Autotic <contato@autotic.com.br>","toEmail":"neojb20@gmail.com","subject":"Candidatos reprovados","html":"=Olá Colaborador segue a relação dos candidatos reprovados no processo de seleção:\n\n{{ $json.Nome.join('\\n') }}\n\nAtenciosamente, \nEquipe Autotic","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[800,160],"id":"ae9ef390-c26c-488e-b627-3c3edcd20f26","name":"Envia lista de candidatos repovados","webhookId":"e451792c-5cf9-4649-b274-9ca44791e40e","credentials":{"smtp":{"id":"5ffC7rxIK7jV5MYV","name":"SMTP account"}}}],"connections":{"Dispara no dia 12/07/2026 as 9:00":{"main":[[{"node":"Obtém candidatos","type":"main","index":0}]]},"Obtém candidatos":{"main":[[{"node":"Candidato Aprovado","type":"main","index":0}]]},"Candidato Aprovado":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Gera arrey de nomes","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Send an Email","type":"main","index":0}]]},"Send an Email":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Gera arrey de nomes":{"main":[[{"node":"Envia lista de candidatos repovados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":{"node:Dispara no dia 12/07/2026 as 9:00":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"270969d6-5aab-450f-b416-21705482eb78","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-07-09T22:22:59.995Z","createdAt":"2026-07-09T22:22:59.995Z","role":"workflow:owner","workflowId":"1kalKDnnBjXZnsaz","projectId":"2dWvxVwxkhgkAyNT"}],"activeVersion":null,"tags":[]}